footer {
  display: flex;
  background: var(--all-color);
  justify-content: center;
  align-items: center;
  height: 10vh;
  .logo {
    margin-right: 20px;
    height: 30px;
    width: 30px;
    background: url('../../../../../src/assets/logo.webp') center/cover;
  }

  p {
    color: white;
  }
}
