<main>
  <div class="container">
    <div class="message">
      <h1>BEINVENUE, JE SUIS <br />Neil Donald TCHOUPO TALLA</h1>

      <p class="whoIam">
        Je suis étudiant en informatique et futur
        <span>développeur fullstack web</span>. Je suis à la recherche d’opportunités
        <span>(stage, alternance, projets)</span> pour enrichir mes compétences et contribuer à des
        projets concrets.
      </p>
      <a href="#" class="btn text-white">Download CV</a>
    </div>
    <div class="img"></div>
  </div>
</main>
