//imports
//@use '../portals/variables';

//main
main {
  // height: 1000px;

  .container {
    width: 97%;
    min-height: 100vh;
    margin: 5rem auto;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(214, 211, 211);
    display: grid;
    grid:
      'message img' auto
      / 500px auto;

    place-items: center center;
    .message {
      grid-area: message;
      height: auto;
      border: 1px solid rgb(239, 236, 236);
      border-radius: 15px;
      box-shadow: 0 1px 6px 0 var(--all-color);
      padding: 5px;
      background: rgb(225, 231, 251);
      display: grid;
      grid:
        '. h2. ' auto
        '. whoIam .' auto
        / 5px auto 5px;

      h2 {
        grid-area: h2;
        line-height: 3rem;
      }

      .whoIam {
        grid-area: whoIam;
        line-height: 2rem;
        //letter-spacing: 0.2rem;
        font-size: 1.2rem;
      }
    }
    .img {
      border-radius: 20px;
      grid-area: img;
      width: 100%;
      height: 50vh;
      background: url('../../../../../src/assets/web-developer.gif') center/cover;
    }
  }
  .moi {
    width: 50%;
    margin: 3rem auto;
    min-height: 50vh;
    padding: 10px;

    border: 1px solid rgb(239, 236, 236);
    border-radius: 15px;
    box-shadow: 0 1px 6px 0 var(--all-color);
    padding: 2rem;
    background: rgb(225, 231, 251);

    p {
      margin: 15px 0;
      line-height: 1.5rem;
    }
    .btn {
      width: 25%;
      border: 0;
      border-radius: 5px;
      background: var(--btn-color);
      padding: 0.8rem;

      font-size: 1rem;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        background: var(--validate-color);
        color: var(--all-color);
        transform: scale(0.9);
      }
    }
  }
}
