<main>
  <div class="container" id="accueil">
    <div class="message">
      <h2>Hello,</h2>

      <p class="whoIam">
        Je suis un étudiant passioné de <span class="blue">développement web</span>.
      </p>
    </div>
    <div class="img"></div>
  </div>
  <div class="moi" id="moi">
    <h2>Bienvenue !</h2>
    <p>
      Je suis étudiant en cycle ingénieur à 3IL et passionné par le développement web. En tant que
      développeur fullstack en devenir, je conçois des applications modernes et performantes, en
      travaillant aussi bien sur la partie front-end que sur le back-end. Toujours curieux et
      motivé, j’aime apprendre de nouvelles technologies et relever des défis techniques. Je suis
      actuellement à la recherche d’opportunités (stage, alternance, projets collaboratifs) pour
      mettre mes compétences en pratique et contribuer à des projets concrets.
    </p>
    <a href="" class="btn text-white mr-10">Mes projets</a>
    <a href="#" class="btn text-white"><i class="fa-solid fa-download"></i>Download CV</a>
  </div>
  <div class="stack">
    <div class="front-end"></div>
    <div class="back-end"></div>
    <div class="method"></div>
  </div>
</main>
