<div class="header">
  <div class="logo"><a href="#" class="text-white">Logo</a></div>
  <div class="onglets">
    <ul class="reseaux">
      <li>
        <a href="#" class="p-15 text-white hover-active reseau-active"
          ><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a
        >
      </li>
      <li>
        <a href="#" class="p-15 text-white hover-active"><i class="fa-brands fa-github"></i>GitHub</a>
      </li>
    </ul>
    <ul class="nav">
      <li><a href="#" class="p-15 text-white hover-border-bottom nav-active">Home</a></li>
      <li><a href="#" class="p-15 text-white hover-border-bottom">About</a></li>
      <li><a href="#" class="p-15 text-white hover-border-bottom">Portfoglio</a></li>
      <li><a href="#" class="p-15 text-white hover-border-bottom">Service</a></li>
    </ul>
    <a href="#" class="download">Download CV</a>
  </div>
</div>
