<div class="header">
  <div class="logo"><a href="#" class="text-white"></a></div>
  <div class="onglets">
    <ul class="reseaux">
      <li>
        <a
          href="https://www.linkedin.com/in/donald-tchoupo-650b06295/"
          class="p-15 hover-active reseau-active"
          ><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/ilredonald" class="p-15 hover-active"
          ><i class="fa-brands fa-github"></i>GitHub</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li><a href="#accueil" class="p-15 hover-border-bottom nav-active">Accueil</a></li>
      <li><a href="#moi" class="p-15 hover-border-bottom">Moi</a></li>

      <li><a href="#" class="p-15 hover-border-bottom">Projets</a></li>
      <li><a href="#" class="p-15 hover-border-bottom">Technologies</a></li>
    </ul>
    <a href="#" class="download text-white">Download CV</a>
  </div>
</div>
