<div class="header">
  <div class="logo"><a href="#" class="text-white"></a></div>
  <div class="onglets">
    <ul class="reseaux">
      <li>
        <a href="#" class="p-15 hover-active reseau-active"
          ><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a
        >
      </li>
      <li>
        <a href="#" class="p-15 hover-active"><i class="fa-brands fa-github"></i>GitHub</a>
      </li>
    </ul>
    <ul class="nav">
      <li><a href="#" class="p-15 hover-border-bottom nav-active">Home</a></li>
      <li><a href="#" class="p-15 hover-border-bottom">Stack</a></li>
      <li><a href="#" class="p-15 hover-border-bottom">Project</a></li>
    </ul>
    <a href="#" class="download text-white">Download CV</a>
  </div>
</div>
