@use '../src/app/core/components/portals/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background: var(--all-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 5x;
}

.mb-10 {
  margin-bottom: 10px;
}

//////////////
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.mr-10 {
  margin-right: 10px;
}
.hover-active {
  transition: all 0.2s;
  &:hover {
    border-radius: 10px;
    background: var(--btn-color);
    color: white;
  }
  &:active {
    background: var(--validate-color);
    color: gray;
    transform: scale(0.9);
    font-size: 0.98rem;
  }
}

.hover-border-bottom {
  &:hover {
    border-bottom: 2px solid var(--btn-color);
    color: var(--btn-color);
  }
}
.text-white {
  color: white;
}

.nav-active {
  border-bottom: 2px solid var(--btn-color);
  color: var(--btn-color);
}

.blue {
  color: var(--btn-color);
}
